@import '~antd/dist/antd.css';
/* .App {
  
} */
.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  padding: 0.6rem;
}
.xaxb {
  font-size: 100px;
  /* opacity: 0.03; */
}
.input {
  text-align: center;
}
.btn {
  margin-top: 1vh;
}
